#kaocha/v1
{:tests                               [{:source-paths ["src/clojure"]
                                        :test-paths   ["test/clojure"]}]
 :reporter                            #profile {:ci      kaocha.report/documentation
                                                :default kaocha.report/dots}
 :plugins                             [:kaocha.plugin/profiling
                                       :kaocha.plugin/junit-xml
                                       :kaocha.plugin/version-filter]
 :kaocha.plugin.randomize/randomize?  false
 :kaocha.plugin.junit-xml/target-file "test-results/junit.xml"
 :bindings {kaocha.stacktrace/*stacktrace-filters* ["clojure.core"
                                                    "clojure.lang."
                                                    "clojure.main"
                                                    "clojure.test$"
                                                    "java.lang."
                                                    "kaocha."
                                                    "lambdaisland."
                                                    "orchestra."]}}
